Repository LatteSec/log, changes with the labels that .github/labeler.yml gives for each.
All labels: kind/docs, kind/test, kind/ci

.github/labeler.yml:

# This file is for the labeler workflow
# Documentation https://github.com/marketplace/actions/labeler

kind/docs:
  - changed-files:
      - any-glob-to-any-file: [www/**, "./*.{md,mdx}"]

kind/test:
  - changed-files:
      - any-glob-to-any-file: [./*test*]

kind/ci:
  - changed-files:
      - any-glob-to-any-file: [.github/workflows/**]

ci: fix ci
  .github/workflows/test-worker.yml
Labels: kind/ci

fix: handle write.Close() errors
  file_handler.go
  handler.go
Labels: none

feat: Impelment msg sending with pool
  file_handler.go
  handler.go
  message.go
  pool.go
Labels: none

test: Add testing helper
  go.mod
  go.sum
Labels: none

feat: Add NewWriterHandler helper
  handler.go
Labels: none

fix: Unlocking the wrong mutex
  cleanup.go
  logger.go
Labels: none

feat: Bake in WithFile() into LoggerBuilder
  builder.go
  log.go
Labels: none

feat: Bake in WithWriter() into LoggerBuilder
  builder.go
Labels: none

fix: Do not consider ErrAlreadyStarted an Logger.Start() error
  logger.go
Labels: none

fix: deadlock due to missing runock
  logger.go
Labels: none

feat!: Major Handler lifecycle changes
  file_handler.go
  handler.go
  log.go
  nopanic.go
Labels: none

test: Add tests
  log_test.go
Labels: kind/test

fix: Panic when lm.send is not set
  message.go
Labels: none

feat: Expose DefaultLogger()
  log.go
Labels: none

fix: Panic when lm.send is not set (#3)
  message.go
Labels: none

feat: Expose DefaultLogger() (#4)
  log.go
Labels: none

bump: go 1.24.6
  go.mod
Labels: none

fix: Stdout and stderr handlers not running
  log.go
Labels: none

fix: Broken shouldWrite check
  logger.go
Labels: none

refactor: Remove draining log to stderr
  handler.go
Labels: none

bump: go 1.24.6 (#6)
  go.mod
Labels: none

refactor: Remove draining log to stderr (#7)
  handler.go
Labels: none

fix: Broken shouldWrite check (#8)
  logger.go
Labels: none

fix: Stdout and stderr handlers not running (#9)
  log.go
Labels: none

fix: handle errror from registering stdo/e
  log.go
Labels: none

fix: handle errror from registering stdo/e (#10)
  log.go
Labels: none

fix: .Fatal() fails to call cleanup()
  log.go
  logger.go
Labels: none

feat: export Writer()
  handler.go
Labels: none

feat: export LevelString()
  message.go
Labels: none

feat: Do not force caller & stacktrace on fatal
  message.go
Labels: none

refactor: Use DefaultLogger() directly
  log.go
Labels: none

feat: Follow log.Info(v ...any)
  message.go
Labels: none

refactor: Explicitly ignore error in defer
  log_test.go
Labels: kind/test
